.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: 0.5s ease-in-out;
    height: 70%;
}

.bio {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.image {
    text-align: center;
    border-radius: 5px;
    padding: 10px;
}

.image img {
    display: block;
    height: 100px;
    width: 100px;
    background-color: transparent;
}

.image img:hover {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #ffffff;
}

#close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#close p {
    color: #ffffff;
    font-size: 20px;
    margin: 0;
}

.popup p {
    margin: 5px 0;
}

.type img {
    width: 20px;
    height: 20px;
}

.type {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
}

.infos div {
    margin: 10px 0;
}

.types {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

.id, .stats {
    display: flex;
    flex-direction: row;
}

.types p {
    margin: 0 10px 0 0;
}

.id p {
    margin: 0 30px 0 0;
}

.stats p {
    margin: 0 18px 0 0;

}

.buttonAttacks {
    margin: 10px 0;
}

#showChargedMoves, #showFastMoves {
    cursor: pointer;
    padding: 10px;
    width: 120px;
    margin: 0;
    border: solid 1px;
    transition: all 0.5s ease-in-out;
    font-family: "Josefin Sans", sans-serif;
    color: white;
}

.attacks-content li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid 1px #000000;
}

.attacks {
    max-height: 170px;
    overflow-y: auto;
}

.attacks ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.attacks ul.charged {
    display: block;
}

.attacks ul.fast {
    display: none;
}

/* Réduire à partir de 1000px les tailles pour les petits écrans sans changer le flex-direction*/
@media screen and (max-width: 1000px) {

    .popup {
        height: 70%;
    }

    .bio {
        flex-direction: row;
        gap: 20px;
    }

    .image img {
        height: 80px;
        width: 80px;
    }

    .type {
        width: 80px;
    }

    .types {
        gap: 5px;
    }

    .id, .stats {
        flex-direction: row;
        gap: 10px;
    }

    .id p {
        margin: 0;
    }

    .stats p {
        margin: 0;
    }

    .buttonAttacks {
        margin: 10px 0;
    }

    #showChargedMoves, #showFastMoves {
        padding: 5px;
    }

    .attacks-content li {
        padding: 5px;
    }

    .attacks ul {
        padding: 0;
        margin: 0;
    }

    .attacks ul.charged {
        display: block;
    }

    .attacks ul.fast {
        display: none;
    }
}

/* reduire a 550px */
@media screen and (max-width: 550px) {

    .popup {
        height: 70%;
    }

    .type img {
        width: 15px;
        height: 15px;
    }

    .type {
        gap: 5px;
        border-radius: 0px;
        align-items: center;
    }

    .bio {
        flex-direction: row;
        gap: 10px;
    }

    .image img {
        height: 60px;
        width: 60px;
    }

    .type {
        width: 60px;
    }

    .types {
        gap: 5px;
    }

    .id, .stats {
        flex-direction: row;
        gap: 10px;
    }

    .id p {
        margin: 0;
    }

    .stats p {
        margin: 0;
    }

    .buttonAttacks {
        margin: 10px 0;
    }

    #showChargedMoves, #showFastMoves {
        padding: 5px;
    }

    .attacks-content li {
        padding: 5px;
    }

    .attacks ul {
        padding: 0;
        margin: 0;
    }

    .attacks ul.charged {
        display: block;
    }

    .attacks ul.fast {
        display: none;
    }
}

/* reduire a 500px, reduire les tailles de polices, les images, les boutons en laissant les flex-direction: row */
@media screen and (max-width: 500px) {



    .bio {
        flex-direction: row;
        gap: 10px;
    }

    .type img {
        width: 10px;
        height: 10px;
    }

    .image img {
        height: 50px;
        width: 50px;
    }

    .types {
        gap: 5px;
    }

    .id, .stats {
        flex-direction: row;
        gap: 10px;
    }

    .id p {
        margin: 0;
    }

    .stats p {
        margin: 0;
    }

    .buttonAttacks {
        margin: 10px 0;
    }

    #showChargedMoves, #showFastMoves {
        padding: 5px;
    }

    .attacks-content li {
        padding: 5px;
    }

    .attacks ul {
        padding: 0;
        margin: 0;
    }

    .attacks ul.charged {
        display: block;
    }

    .attacks ul.fast {
        display: none;
    }
}

/* a 475 reduire la taille des polices */
@media screen and (max-width: 475px) {

    .popup {
        height: 70%;
    }

    .bio {
        flex-direction: row;
        gap: 10px;
    }

    .type img {
        width: 10px;
        height: 10px;
    }

    .image img {
        height: 50px;
        width: 50px;
    }

    .types {
        gap: 5px;
    }

    .id, .stats {
        flex-direction: row;
        gap: 10px;
    }

    .id p {
        margin: 0;
    }

    .stats p {
        margin: 0;
    }

    .buttonAttacks {
        margin: 10px 0;
    }

    #showChargedMoves, #showFastMoves {
        padding: 5px;
    }

    .attacks-content li {
        padding: 5px;
    }

    .attacks ul {
        padding: 0;
        margin: 0;
    }

    .attacks ul.charged {
        display: block;
    }

    .attacks ul.fast {
        display: none;
    }

    p {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 400px) {

    .type {
        padding: 5px;
    }

    p {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 350px) {

    .type {
        padding: 2px;
    }

    p {
        font-size: 0.6em;
    }
}