@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");

/* FFCB05 jaune
C7A008 jaune foncé
3860AB bleu
1D2C5E bleu foncé*/

body {
    font-family: "Josefin Sans", sans-serif;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.bio {
    border: solid 3px green;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
}

.image {
    border: solid 3px blue;
    text-align: center;
    padding: 10px;
}

.image img {
    display: block;
    height: 100px;
    width: 100px;
    background-color: transparent;
}

#close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ff0000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#close p {
    color: #ffffff;
    font-size: 20px;
    margin: 0;
}

.popup p {
    margin: 5px 0;
}





.infos {
    border: solid 3px red;
}

.infos div {
    margin: 20px 0;
}



.id, .stats {
    display: flex;
    flex-direction: row;
}

.id p, .stats p, .types p {
    margin: 0 10px 0 0;
}